
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="panel-group" id="accordion">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseDNF">
                    What is DotNetFunda?
                </a>
            </h4>
        </div>
        <div id="collapseDNF" class="panel-collapse collapse in">
            <div class="panel-body">
                DotNetFunda.Com is a popular online tutorials and guide for latest Microsoft® technologies aimed for beginners and intermediate level professionals. It helps beginners to become intermediate level professionals and intermediates to become an expert.
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseITF">
                    What is ITFunda?
                </a>
            </h4>
        </div>
        <div id="collapseITF" class="panel-collapse collapse">
            <div class="panel-body">
                ITFunda.Com is an e-commerce website that furnishes a platform to the interested buyer and seller to interact and transact for the software or software related services. It typically hosts study materials, software products / services for buying/selling.
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseKF">
                    What is KidsFunda?
                </a>
            </h4>
        </div>
        <div id="collapseKF" class="panel-collapse collapse">
            <div class="panel-body">
                KidsFunda is the website designed to give the learning fundamentals for kids.
            </div>
        </div>
    </div>
</div>